{% extends 'base.html' %}

{% block body %}

<style>
.rounded-box{
        width: 50%;
        min-width:300px;
        max-height:120px;
        border-radius: 10px;
        font-weight:700;
        font-size:25px;
        text-align: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#0C4884;
        color:white;
        margin-top:45px;
        padding:10px;
    }

    img {
        max-width: 70%;
        height: auto;
    }
</style>

<center>
    <div style="width:60%; margin-top:5%;">
        <img src="static/лыжники.png">
        <p style="font-weight:700;font-size:45px;">Спортивно-технические<br>результаты в лыжных гонках</p>

        <a class="rounded-box" href="/Scoring-points">
            <p>Подсчет очков</p>
        </a>

        <a class="rounded-box" href="/Table">
            <p >Таблица эквивалентных результатов</p>
        </a>

    </div>

    </center>


{% endblock %}