{% extends 'Scoring_points.html' %}

{% block title %}Scoring-points Points{% endblock %}

{% block body_div %}

<style>
.bbox{
    display:flex;
}


.hov-btn-1{
    color:white;
    font-size:25px;
    font-weight:700;
    height:60px;
    width:520px;
}

.hov-btn-1:hover{
    background:#B4F1FC;
    color:#0069AA;
}

.hov-btn-2{
    height:60px;
    width:40%;
    background:#B4F1FC;
    margin-left:180px;
    width:300px;
}

.hov-btn-2:hover{
    background:#0069AA;
    color:#B4F1FC;
}



</style>
<center>
<div style="margin-top:50px; display:grid; width:1000px;">
    <div style="display:flex;">
        <div class="bbox">
            <p>Очки</p>
            <div class="btn-accordion" style="margin-left:41%">

                    <div style="display:flex;">
                        <input id="points" style="min-width:220px; margin-left:5px;margin-top:2px;width:85%;outline: none; border: none;height:90%">
                        <div style="margin-left:90%; position:absolute;"></div>

                    </div>

                    <div id="" class="textbox" style="display:none;">
                        <button class="btn btn-light">0</button>
                    </div>

            </div>
        </div>

        <div class="bbbox">
                    <center>
                    <div style="min-height:200px;">
                        <p><br>Рекомендованная<br>скорость</p>
                        <p id="recommended-speed" style="color:#0C4884" class="box-p">0 м/c</p>
                    </div>

                    <div>
                        <p>Результат</p>
                        <p id="time-rez" style="color:#0C4884" class="box-p">0</p>
                    </div>
                    </center>
        </div>

    </div>

    <div style="display:flex; margin-top:25px;">
            <div class="ellipse hov-btn-1" onclick="calculate_points()">
                <center>
                    <a> Расчитать</a>
                </center>
            </div>
            <div  style="" class="ellipse hov-btn-2">
                <center>
                <a href="/Scoring-points" style="margin-top:-10px;"><p><i class="arrow left"></i></p></a></center>
            </div>
    </div>

</div>
</center>




<script>
function calculate_points() {
    // Получаем значения всех инпутов
    const points = document.getElementById('points').value;
    const gender = document.getElementById('label-text-1').textContent;
    const style = document.getElementById('label-text-2').textContent;
    const distance = document.getElementById('label-text-3').textContent;
    // Выводим значения в консоль
    console.log(`очки: ${points}`);
    console.log(`Пол: ${gender}, Стиль: ${style}, Дистанция: ${distance}`);

const data = {
    points: points,
    gender: gender,
    style: style,
    distance: distance
    };

fetch('/response_points', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
        document.getElementById('recommended-speed').textContent = `${result.speed} м/с`;
        document.getElementById('time-rez').textContent = `${result.time}`;
    })
    .catch(error => {
        console.error('Error:', error);
    });
}


</script>

{% endblock %}

{% block back %}

{% endblock %}