{% extends 'Scoring_points.html' %}

{% block title %}Scoring-points Main{% endblock %}

{% block body_div %}

<style>

a {
    text-decoration: none;
    outline: none;
    color:white;
}
.btn-on {
    display: flex;  /* Устанавливаем flexbox для выравнивания */
    justify-content: center; /* Выравниваем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    min-width: 200px;
    max-width:400px;
    height: 60px;
    background-color:#0069AA;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}


</style>

<div style="display:grid; margin-top:200px;">
    <center>
    <div class="btn-on" onclick="window.location.href='/Scoring-points/rez'"><a href="/Scoring-points/rez">Результат</a></div>
        <br>
    <div class="btn-on" onclick="window.location.href='/Scoring-points/points'"><a href="/Scoring-points/points">Очки</a></div>
    </center>
</div>

{% endblock %}