{% extends 'base.html' %}

{% block title %}Main-page{% endblock %}

{% block body %}

<style>
.nav-btn{
    width:160px;
    border-radius:10px;
    display:grid;
    justify-content:center;

}

.nav-btn:hover{
    background-color:#0069AA;
    color:#B4F1FC;
}

.nav-item p:hover{
    background-color:#0069AA;
    color:#B4F1FC;
    border-radius:10px;
}



.normal-text{
  color:#0C4884;
  font-size:20px;
  font-weight:700;

}

.scrollable-table-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #00A7E2 #B6F3FC;
}

.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.table-text{
    display:flex;
    color:#0C4884;
    font-size:20px;
    font-weight:700;
}

</style>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav normal-text">
        <li class="nav-item">
          <center>
          <div style="display:grid; margin-left:20px;">
              <div style="display:flex;" class="nav-btn">
                  <a id="label-text-3">РЕЗУЛЬТАТ</a>
                  <a style="margin-left:10px; margin-top:-3px;" onclick="toggleText(3)"><i class="arrow down"></i></a>
              </div>
              <div id="textblock-3" style="display:none;">
                  <p onclick="updateLabelText('label-text-3', 'Время')">Время</p>
                  <p onclick="updateLabelText('label-text-3', 'Скорость')">Скорость</p>
              </div>
          </div>

          </center>
        </li>
        <li class="nav-item">
          <center>
          <div style="display:grid; margin-left:20px;">
              <div style="display:flex;" class="nav-btn">
                  <a id="label-text-1">ПОЛ</a>
                  <a style="margin-left:10px; margin-top:-3px;" onclick="toggleText(1)"><i class="arrow down"></i></a>
              </div>
              <div id="textblock-1" style="display:none;">
                  <p onclick="updateLabelText('label-text-1', 'Мужской')">Мужской</p>
                  <p onclick="updateLabelText('label-text-1', 'Женский')">Женский</p>
              </div>
          </div>

          </center>
        </li>
        <li class="nav-item">
          <center>
          <div style="display:grid; margin-left:20px;">
              <div style="display:flex;" class="nav-btn">
                  <a id="label-text-2">СТИЛЬ</a>
                  <a style="margin-left:10px; margin-top:-3px;" onclick="toggleText(2)"><i class="arrow down"></i></a>
              </div>
              <div id="textblock-2" style="display:none;">
                <p onclick="updateLabelText('label-text-2', 'Свободный')">Свободный</p>
                <p onclick="updateLabelText('label-text-2', 'Классический')">Классический</p>
              </div>
          </div>
          </center>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="scrollable-table-container" style="width:80%; margin-left:10%; margin-top:110px; margin-bottom:20px;position:absolute; height:80%">
    <div class="table-text">
        <p id="text-1">Время</p>&nbsp;<p id="text-2">Мужской</p>&nbsp;<p id="text-3">Свободный</p>
    </div>
    <table class="table table-info table-striped" translate="no" style="font-weight:600;">

        <thead style="position:sticky;top: 0;">

        <tr>

            <td>Очки</td>
            <td>1 км</td>
            <td>2 км</td>
            <td>3 км</td>
            <td>5 км</td>
            <td>7.5 км</td>
            <td>10 км</td>
            <td>15 км</td>
            <td>20 км</td>
            <td>30 км</td>
            <td>50 км</td>
            <td>70 км</td>

        </tr>

        <tbody id="table-body">

    </table>

</div>

<a href="/" style="right:20px; position:absolute; bottom:20px">
    <img style="width:40px; " src="/static/free-icon-home-1946488 (1).png">
</a>

<script>

function toggleText(buttonNumber) {
    var collapseBlock = document.getElementById('collapse-' + buttonNumber);
    var textBlock = document.getElementById('textblock-' + buttonNumber);
    var textNone = document.querySelectorAll('[id^="textblock-"]');
    if (textBlock.style.display === "none") {
        textNone.forEach(function(element) {
        element.style.display = 'none';
        textBlock.style.display = "grid";
    });
    } else {
        textBlock.style.display = "none";
    }
}

function updateLabelText(labelId, text) {
    var textNone = document.querySelectorAll('[id^="textblock-"]');
    textNone.forEach(function(element) {
    element.style.display = 'none';});
    localStorage.setItem(labelId,text)
    PreLaod();
}

localStorage.setItem("label-text-3","Время")
localStorage.setItem("label-text-1","Мужской")
localStorage.setItem("label-text-2","Свободный")

function PreLaod(){
    state_1 = document.getElementById('text-1')
    gender_1 = document.getElementById('text-2')
    style_1 = document.getElementById('text-3')
    if (localStorage.getItem('label-text-3') === "Скорость") {
        state = 2;
        state_1.textContent = 'Скорость'
    } else {
        state = 1;
        state_1.textContent = 'Время'
    }

    if (localStorage.getItem('label-text-1') === "Женский") {
        gender = 2;
        gender_1.textContent = 'Женский'
    } else{
        gender = 1;
        gender_1.textContent = 'Мужской'
    }

    if (localStorage.getItem('label-text-2') === "Классический") {
        style = 2;
        style_1.textContent = 'Классический'
    } else{
        style = 1;
        style_1.textContent = 'Свободный'

    }

    const tbody = document.getElementById('table-body');
    const tds = tbody.querySelectorAll('td');

    tds.forEach(td => td.remove());
    loadMoreData(state, gender, style);

}


let state =  1;
let gender =  1;
let style =  1;

    let isLoading = false; // Флаг для предотвращения многократных загрузок

    function loadMoreData(state, gender, style) {
    console.log(localStorage.getItem("label-text-3"), localStorage.getItem("label-text-1"), localStorage.getItem("label-text-2"));
        if (isLoading) return;
        isLoading = true;

        fetch(`/get_data?state=${state}&gender=${gender}&style=${style}`)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('table-body');

                data.forEach(el => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td>${el[0]}</td>
                        <td>${el[1]}</td>
                        <td>${el[2]}</td>
                        <td>${el[3]}</td>
                        <td>${el[4]}</td>
                        <td>${el[5]}</td>
                        <td>${el[6]}</td>
                        <td>${el[7]}</td>
                        <td>${el[8]}</td>
                        <td>${el[9]}</td>
                        <td>${el[10]}</td>
                        <td>${el[11]}</td>
                    `;

                    tableBody.appendChild(row);
                });

                isLoading = false;
            });
    }

    // Загрузка первой страницы при старте
    document.addEventListener('DOMContentLoaded', function() {
        loadMoreData(1, 1, 1);
    });


window.addEventListener('DOMContentLoaded', () => {
    // Очищаем localStorage при загрузке страницы
    localStorage.clear();
});
</script>
{% endblock %}