{% extends 'base.html' %}

{% block title %}Table{% endblock %}

{% block body %}

<style>
.nav-btn{
    width:160px;
    border-radius:10px;
    display:grid;
    justify-content:center;

}

.nav-btn:hover{
    background-color:#0069AA;
    color:#B4F1FC;
}

.nav-item p:hover{
    background-color:#0069AA;
    color:#B4F1FC;
    border-radius:10px;
}



.normal-text{
  color:#0C4884;
  font-size:20px;
  font-weight:700;

}

.scrollable-table-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #00A7E2 #B6F3FC;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.table-text{
    display:flex;
    color:#0C4884;
    font-size:20px;
    font-weight:700;
}

.new-btn{
    border-radius:10px;
    width:330px;
    height:50px;
    align-items: center;
    font-size:20px;
    font-weight:700;
    margin-left:50px;
    margin-top:10px;
    color:white;
    position:relative;

}
.new-btn-frame{
    background-color:white;
    border-radius:10px;
    margin-left:auto;
    margin-right:10px;
    display:flex;
    align-items:center;
    width:200px;
}

.new-btn-accordion{
    display:none;
    font-size:20px;
    background:white;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    z-index:1;
    box-sizing:border-box;
    border-radius:10px;
    border: 1px solid black;
    justify-content:center
}
</style>

<div style="margin-left:160px; margin-top:30px;">
    <div>
          <div style="display:grid; background:#0069AA;" class="new-btn">
              <div style="display:flex;">
                  <a id="label-text-3" style="margin-left:10px;">Результат</a>
                  <div class="new-btn-frame" style="font-size:18px; color:black; display:grid; cursor: pointer;" onclick="toggleText(3)">
                      <div style="display:flex; align-items: center; position-relative;">
                          <a id="text-1" style="margin-left:10px">Время</a>
                          <i style="position:absolute; margin-left:170px; margin-bottom:5px;" class="arrow down"></i>
                      </div>
                      <div  style="position:relative;">
                          <div id="textblock-3" class="new-btn-accordion" style="display:none;">
                              <p onclick="updateLabelText('label-text-3', 'Время')">Время</p>
                              <p onclick="updateLabelText('label-text-3', 'Скорость')">Скорость</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
    </div>

    <div style="display:flex;">
        <div style="display:grid; background:#0069AA;" class="new-btn">
              <div style="display:flex;">
                  <a id="label-text-1" style="margin-left:10px;">Пол</a>
                  <div class="new-btn-frame" style="font-size:18px; color:black; display:grid; cursor: pointer;" onclick="toggleText(1)">
                      <div style="display:flex; align-items: center; position-relative;">
                          <a id="text-2" style="margin-left:10px">Мужской</a>
                          <i style="position:absolute; margin-left:170px; margin-bottom:5px;" class="arrow down"></i>
                      </div>
                      <div  style="position:relative;">
                          <div id="textblock-1" class="new-btn-accordion" style="display:none;">
                              <p onclick="updateLabelText('label-text-1', 'Мужской')">Мужской</p>
                              <p onclick="updateLabelText('label-text-1', 'Женский')">Женский</p>
                          </div>
                      </div>

                  </div>
              </div>

          </div>

         <div style="display:grid; background:#0069AA;" class="new-btn">
              <div style="display:flex;">
                  <a id="label-text-2" style="margin-left:10px;">Стиль</a>
                  <div class="new-btn-frame" style="font-size:18px; color:black; display:grid; cursor: pointer;" onclick="toggleText(2)">
                      <div style="display:flex; align-items: center; position-relative;">
                          <a id="text-3" style="margin-left:10px">Свободный</a>
                          <i style="position:absolute; margin-left:170px; margin-bottom:5px;" class="arrow down"></i>
                      </div>
                      <div  style="position:relative;">
                          <div id="textblock-2" style="display:none;" class="new-btn-accordion">
                              <p onclick="updateLabelText('label-text-2', 'Свободный')">Свободный</p>
                              <p onclick="updateLabelText('label-text-2', 'Классический')">Классический</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
    </div>
</div>

<div class="scrollable-table-container" style="width:80%; margin-left:10%; margin-top:210px; margin-bottom:20px;position:absolute; height:80%">
    <table class="table table-info table-striped" translate="no" style="font-weight:600;">

        <thead style="position:sticky;top: 0;">

        <tr>

            <td>Очки</td>
            <td>1 км</td>
            <td>2 км</td>
            <td>3 км</td>
            <td>5 км</td>
            <td>7.5 км</td>
            <td>10 км</td>
            <td>15 км</td>
            <td>20 км</td>
            <td>30 км</td>
            <td>50 км</td>
            <td>70 км</td>

        </tr>

        <tbody id="table-body">

    </table>

</div>

<a href="/" style="right:20px; position:absolute; bottom:20px">
    <img style="width:40px; " src="/static/free-icon-home-1946488 (1).png">
</a>

<script>

function toggleText(buttonNumber) {
    var collapseBlock = document.getElementById('collapse-' + buttonNumber);
    var textBlock = document.getElementById('textblock-' + buttonNumber);
    var textNone = document.querySelectorAll('[id^="textblock-"]');
    if (textBlock.style.display === "none") {
        textNone.forEach(function(element) {
        element.style.display = 'none';
        textBlock.style.display = "grid";
    });
    } else {
        textBlock.style.display = "none";
    }
}

function updateLabelText(labelId, text) {
    Array.from(document.getElementsByTagName('*')).filter(el => el.id && el.id.startsWith('textblock-')).forEach(el => el.style.display = 'none');
    localStorage.setItem(labelId,text)
    PreLaod();
}

localStorage.setItem("label-text-3","Время")
localStorage.setItem("label-text-1","Мужской")
localStorage.setItem("label-text-2","Свободный")

function PreLaod(){
    state_1 = document.getElementById('text-1')
    gender_1 = document.getElementById('text-2')
    style_1 = document.getElementById('text-3')
    if (localStorage.getItem('label-text-3') === "Скорость") {
        state = 2;
        state_1.textContent = 'Скорость'
    } else {
        state = 1;
        state_1.textContent = 'Время'
    }

    if (localStorage.getItem('label-text-1') === "Женский") {
        gender = 2;
        gender_1.textContent = 'Женский'
    } else{
        gender = 1;
        gender_1.textContent = 'Мужской'
    }

    if (localStorage.getItem('label-text-2') === "Классический") {
        style = 2;
        style_1.textContent = 'Классический'
    } else{
        style = 1;
        style_1.textContent = 'Свободный'

    }

    const tbody = document.getElementById('table-body');
    const tds = tbody.querySelectorAll('td');

    tds.forEach(td => td.remove());
    loadMoreData(state, gender, style);

}


let state =  1;
let gender =  1;
let style =  1;

    let isLoading = false; // Флаг для предотвращения многократных загрузок

    function loadMoreData(state, gender, style) {
    console.log(localStorage.getItem("label-text-3"), localStorage.getItem("label-text-1"), localStorage.getItem("label-text-2"));
        if (isLoading) return;
        isLoading = true;

        fetch(`/get_data?state=${state}&gender=${gender}&style=${style}`)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('table-body');

                data.forEach(el => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td>${el[0]}</td>
                        <td>${el[1]}</td>
                        <td>${el[2]}</td>
                        <td>${el[3]}</td>
                        <td>${el[4]}</td>
                        <td>${el[5]}</td>
                        <td>${el[6]}</td>
                        <td>${el[7]}</td>
                        <td>${el[8]}</td>
                        <td>${el[9]}</td>
                        <td>${el[10]}</td>
                        <td>${el[11]}</td>
                    `;

                    tableBody.appendChild(row);
                });

                isLoading = false;
            });
    }

    // Загрузка первой страницы при старте
    document.addEventListener('DOMContentLoaded', function() {
        loadMoreData(1, 1, 1);
    });


window.addEventListener('DOMContentLoaded', () => {
    // Очищаем localStorage при загрузке страницы
    localStorage.clear();
});
</script>
{% endblock %}